{% extends 'base.html' %}
      {% block js %}
       <script src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.js"></script>
       <script type="text/javascript" charset="utf-8">
            var socket;

            var current_channel = '';

            var change_channel = function(channel)
            {
                document.title = '聊天室 - ' + channel;
                if(current_channel)
                {
                    $("#id-div-channels-title").text(document.title);
                }
                else
                {
                    $("#id-div-channels-title").text('未加入聊天室，请选择聊天室');
                }
            }

            var clear_board = function()
            {
                $("#id_chat_area").val('');
            }


            $(document).ready(function(){
                // 初始化 websocket
                socket = io.connect('ws://' + document.domain + ':' + location.port + '/chat');
                // on 函数用来绑定事件, connect 是 socket.io 的内置事件，表示和后端 websocket 连接成功
                socket.on('connect', function() {
                    console.log('connect');
                    clear_board(); // 清空
                });

                change_channel(current_channel)

                socket.on('status', function(data) {
                    $('#id_chat_area').val($('#id_chat_area').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    // 新用户加入聊天室的事件
                });
                socket.on('message', function(data) {
                    $('#id_chat_area').val($('#id_chat_area').val() + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    // 收到其他用户发送的新消息的事件
                });

                $('#text').keypress(function(e) {
                    if (e.which == 13) {
                        // 得到用户输入的消息
                        if (!current_channel)
                        {
                            console.log("no current_channel:", current_channel);
                            $('#text').val('');
                            alert('未加入聊天室')
                            return;
                        }
                        text = $('#text').val();
                        $('#text').val('');
                        // 清空用户输入
                        socket.emit('sent', {msg: text, room:current_channel});
                    }
                });

                $('.rc-channel').on('click', function(e){
                    if (current_channel)
                    {
                         socket.emit('left', {}, function() {
                            console.log("left room")
                         });
                    }
                    // 加入房间
                    current_channel = $(this).text();
                    change_channel(current_channel);
                    clear_board();
                    socket.emit('joined', {msg:current_channel});
                  //  $('#id_chat_area').empty();
                })
            });
        </script>
      {% endblock %}

{% block body %}
     <div class="col-md-3"></div>
     <div class="col-md-6">
   <div id='id-div-channels' class="rc-left">
            <h1 id = 'id-div-channels-title'>聊天室</h1>
            <a class="rc-channel" href="#">读书</a>
            <a class="rc-channel" href="#">电影</a>
            <a class="rc-channel" href="#">技术</a>
        </div>
        <h1>聊天室</h1>
        <textarea id="id_chat_area" cols="80" rows="20" style="background-color:thistle;"></textarea><br><br>
        <input id="text" size="80" placeholder="输入聊天消息"><br><br>
     </div>
 <div class="col-md-3"></div>
{% endblock %}


